<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link href='https://fonts.googleapis.com/css?family=Anek Gujarati' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class = "password">
        <div class = "headcon"></div>
        <div class = "bodycon">
            <div class = "changepass">
                <img class = "img" alt = "brgy logo" src = "images/logo.png">
                <h2 class = "title">Information System of Barangay Daang Bakal</h2>
                <h3 class = "title2">Enter a New Password</h3>
                <p class = "info">A strong password has a combination of letters, numbers and special characters</p>
                <form method="post" action="/changepassword" onsubmit = "return validatepass()">
                    <div class = "input">
                        <input type = "password" id = "password" placeholder = "New Password" required/>
                        <div class = "code">
                            <p class = "label">Letters: a - z</p>
                            <p class = "num">Numbers: 1 - 9</p>
                            <p class = "num">Special Char: ! &nbsp@ &nbsp# &nbsp$ &nbsp...</p>
                        </div>
                    </div>
                    <div class = "reinput">
                        <input type = "password" id = "confirmpassword" placeholder="Confirm New Password" required>
                    </div>
                    <div class = "buttons">
                        <button class = "continue" type="submit">CONTINUE</button>
                        <button class = "cancel" type="button" onclick="window.location.href='/login'">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
        <script src = "scripts/validatechangepass.js"></script>
	</body>
</html>